{% extends "base.html" %}
{% block title %}Yammy - FAQ {% endblock %}

{% block content %}

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">SmartLearn</h1>
        <h4 class="display-6">Transforming Education with Video Analytics</h4>
        <p class="lead text-muted mb-0">SmartLearn revolutionizes education by leveraging video analytics to enhance students' lives in school. Our system tracks student emotions, monitors eye movements during exams, and performs object tracking. With real-time insights, educators can tailor their teaching methods, identify areas for support, and create personalized learning experiences. Join us in the journey to transform education with SmartLearn, where technology meets pedagogy for an enriching and empowering educational experience. </p>

        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="/static/img/smartclass1.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<!--<div class="bg-white py-5">-->
<!--  <div class="container py-5">-->
<!--    <div class="row align-items-center mb-5">-->
<!--      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>-->
<!--        <h2 class="font-weight-light">Our Story</h2>-->
<!--        <p class="font-italic text-muted mb-4">A team of food enthusiast who loves preparing food! So why not share the love and joy for our food with you guys!</p>-->
<!--        <p class="font-italic text-muted mb-4">Log-in now to order!</p><a href="/login" class="btn btn-light px-5 rounded-pill shadow-sm"> Log-In</a>-->
<!--      </div>-->
<!--      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/static/img/aboutus2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>-->
<!--    </div>-->
<!--    <div class="row align-items-center">-->
<!--      <div class="col-lg-5 px-5 mx-auto"><img src="/static/img/aboutus3.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>-->
<!--      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>-->
<!--        <h2 class="font-weight-light">About our food</h2>-->
<!--        <p class="font-italic text-muted mb-4">At Yammy, we have our own production kitchen. This gives us full control on our meals, ranging from sourcing, preparation and cooking. Our meals are prepared in a state of the art kitchen by chefs trained professionally in technique and hygiene.</p>-->
<!--        <p class="font-italic text-muted mb-4">Questions on your mind? Feel free to contact us!</p><a href="/contactUs" class="btn btn-light px-5 rounded-pill shadow-sm"> Contact Us</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="bg-white py-5">-->
<!--  <div class="container py-5">-->
<!--    <div class="row mb-4">-->
<!--      <div class="col-lg-5">-->
<!--        <h2 class="display-4 font-weight-light">Founder of SmartLearn</h2>-->
<!--        <p class="font-italic text-muted">Meet the members of Yammy!</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row text-center">-->
<!--      <div class="col-xl-3 col-sm-6 mb-5">-->
<!--        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/static/img/leader.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--          <h5 class="mb-0">Terruce</h5><span class="small text-uppercase text-muted">Team Lead</span>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-xl-3 col-sm-6 mb-5">-->
<!--        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/static/img/member1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--          <h5 class="mb-0">Abinaya</h5><span class="small text-uppercase text-muted">Member</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-xl-3 col-sm-6 mb-5">-->
<!--        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/static/img/member2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--          <h5 class="mb-0">Jia Jun</h5><span class="small text-uppercase text-muted">Member</span>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-xl-3 col-sm-6 mb-5">-->
<!--        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/static/img/member3.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">-->
<!--          <h5 class="mb-0">Ulysse</h5><span class="small text-uppercase text-muted">Member</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


{% endblock %}
