{% extends "base.html" %} {% block title %}Camera{% endblock %} {% block head %}
<style>
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .progress-bar .progress {
    height: 100%;
    border-radius: 10px;
  }

  .progress-bar .progress .anger {
    background-color: #ff0000; /* Red */
  }

  .progress-bar .progress .happiness {
    background-color: #00ff00; /* Green */
  }

  .progress-bar .progress .sadness {
    background-color: #0000ff; /* Blue */
  }

  .progress-bar .progress .neutral {
    background-color: #cccccc; /* Gray */
  }
</style>
{% endblock %} {% block content %}
<body>
  <h1>Emotion Recognition</h1>
  <div class="progress-bar">
    <div class="progress">
      <div class="anger" style="width: 0%"></div>
      <div class="happiness" style="width: 0%"></div>
      <div class="sadness" style="width: 0%"></div>
      <div class="neutral" style="width: 0%"></div>
    </div>
  </div>
  <img src="{{ url_for('views.video_feed') }}" width="640" height="480" />

  <script>
    function updateProgressBars() {
      fetch("/emotion_percentages")
        .then((response) => response.json())
        .then((data) => {
          const {
            angry_percentage,
            happy_percentage,
            sad_percentage,
            neutral_percentage,
          } = data;

          const angerBar = document.querySelector(
            ".progress-bar .progress .anger"
          );
          const happinessBar = document.querySelector(
            ".progress-bar .progress .happiness"
          );
          const sadnessBar = document.querySelector(
            ".progress-bar .progress .sadness"
          );
          const neutralBar = document.querySelector(
            ".progress-bar .progress .neutral"
          );

          angerBar.style.width = angry_percentage + "%";
          happinessBar.style.width = happy_percentage + "%";
          sadnessBar.style.width = sad_percentage + "%";
          neutralBar.style.width = neutral_percentage + "%";
        });
    }

    setInterval(updateProgressBars, 1000);
  </script>
</body>

{% endblock %}
