{% extends "base.html" %}
{% block title %}Yammy - Update Profile{% endblock %}

{% block content %}

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for user in accounts_list %}
        <td>{{ user }}</td>
        {% endfor %}

        <td><a href="/customer_update/{{id}}" class="btn btn-warning">Edit</a></td>

        <td>
            <form action="/deleteUser/{{id}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your account?');">
          </form>
        </td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}


