{% extends "base.html" %}
{% block title %}Yammy - Student Exam {% endblock %}

{% block content %}

  <div class = "bg-light">
    <div class="row align-items-center">
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Exam</h2>
        <p class="font-italic text-muted mb-4">Closed Book Python Test</p><a href="/face_lock" class="btn btn-light px-5 rounded-pill shadow-sm"> Take exam</a>
    </div>
  </div>
</div>


{% endblock %}
