{% extends "base.html" %}
{% block title %}SmartLearn - Register Face{% endblock %}

{% block content %}
<div class="container">
  <h3>Register a Face</h3>
  <div class="video-container">
    <video id="video_feed" autoplay></video>
  </div>
  <form method="POST" onsubmit="handleFormSubmit(event)">
    <div class="input-column">
      <button type="submit">Capture and Register</button>
    </div>
  </form>
</div>

<script>
  var video = document.getElementById("video_feed");
  var userName = "{{ user_name }}"; // Replace with the actual variable that holds the user's name

  if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
        video.play();
      })
      .catch(function (error) {
        console.error("Error accessing the webcam: ", error);
      });
  } else {
    console.error("Webcam access is not supported in this browser.");
  }

  function handleFormSubmit(event) {
    event.preventDefault();

    var canvas = document.createElement("canvas");
    var context = canvas.getContext("2d");
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    context.drawImage(video, 0, 0, canvas.width, canvas.height);

    var imageDataURL = canvas.toDataURL("image/jpeg");

    var hiddenInput = document.createElement("input");
    hiddenInput.type = "hidden";
    hiddenInput.name = "face_image";
    hiddenInput.value = imageDataURL;

    var form = event.target;
    form.appendChild(hiddenInput);

    // Create a hidden input for the user's name
    var nameInput = document.createElement("input");
    nameInput.type = "hidden";
    nameInput.name = "name";
    nameInput.value = userName; // Use the user's name
    form.appendChild(nameInput);

    form.submit();
  }
</script>

{% endblock %}
