{% extends "base.html" %}
{% block title %}Yammy - FAQ {% endblock %}

{% block content %}

<div class="faq_area section_padding" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently </span> Asked Questions</h3>
                    <p>Need help? We've got you covered!</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
<br>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
         <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h3> Payment & Orders  </h3>
                    </div>
                </div>
            </div>
         </div>
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ordering and Payment<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>All ordering is processed online at <a href="/">www.yammy.com</a></p>
                                <p>Customers are billed directly on the website. Order cut off time is on every friday, 12 noon.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Opening Hours<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Our Opening hours are Monday to Friday 9:00AM to 5:00PM. Any emails/inquiries outside these hours will receive response within the next business day.</p>
                                <p>We are closed on public holidays. No deliveries will be made during these times.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Do you have a refund policy?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Refunds are subjected to approval by the management. We reserve the right to reject any refund with appropriate reasons.</p>
                                <p>If you are requesting to cancel your order that is currently being processed, you must contact us within 3 working days. Else we will not accept any changes or cancellations after the 3 working days period.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingFour">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Are there any GST charges?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Yes. All prices are subject to prevailing GST.</p>
                            </div>
                        </div>
                    </div>

                    <!-- new faq segment-->
                     <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-8 col-lg-6">
                                <!-- Section Heading-->
                                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <h3> Shipment </h3>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingFive">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Will there be a delivery fee?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p> For our plan, we charge a delivery fee of $4 per delivery trip.</p>
                            </div>
                        </div>
                    </div>
                                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingSix">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Eco-friendly boxes<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>1. Our meal boxes are made from sugar cane and is 100% bio-degradable.</p>
                                <p>2. Our bags are made from recycled paper, and we encouraged our customers to re-use them whenever possible.</p>
                            </div>
                        </div>
                    </div>
                                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingSeven">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Delivery<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>We deliver daily from Monday to Friday (except public holiday and weekend). Our minimum order is 5 days consecutively Monday to Friday, and we reserved the rights to apply extra delivery charges on special requests.</p>
                                <p>Please note that we DO NOT deliver to the following areas: </p>
                                <li> All Airports and military camps</li>
                                <li> Prisons</li>
                                <li> Offshore islands including Sentosa</li>
                                <li> All special pass-protected areas and Tuas</li>
                                <li> Sentosa Marina</li>
                            </div>
                        </div>
                    </div>

                    <!-- new faq segment-->
                     <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-8 col-lg-6">
                                <!-- Section Heading-->
                                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <h3> Food </h3>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingEight">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">Can I modify the dishes to accommodate my preference?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p> Our menu is fixed; therefore, we are unable to accommodate to this request. However, kindly WhatsApp us at +65 8100 5201 should you have any concerns  on your dietary requirements eg. No nuts, No dairy etc.</p>
                            </div>
                        </div>
                    </div>
                                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingNine">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">How can I cancel my meal plan?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseNine" aria-labelledby="headingNine" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Amendments or cancellations for meals must be made at least 3 working days before the date of order. The cut-off time is on Friday, 12.00pm.</p>
                                <p>(If Friday is a  Public Holiday, the cut-off time will be on Thursday, 12.00pm).</p>
                                <p>Kindly whatsapp our sales personnel at +65 8100 5201 or email to <a href="mailto:yammyowner@gmail.com">yammyowner@gmail.com</a> for any amendments or cancellations. </p>
                            </div>
                        </div>
                    </div>
                                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTen">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">Do you cater 1 person meal service?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTen" aria-labelledby="headingTen" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p> The quantity provided when ordering the food is meant for 1 person. Please adjust the quantity according to your needs. </p>
                            </div>
                        </div>
                    </div>
                                                <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingEleven">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">Why Yammy?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseEleven" aria-labelledby="headingEleven" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p> We do not sacrifice on flavour! whether your goal is to lose weight, gain muscle or just eat a wide range of fresh, flavoursome and nutritious chef-cooked meals </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="/contactUs"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

.section_padding {
    padding-top: 75px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}
</style>

{% endblock %}
