{% extends "base.html" %}
{% block title %}Yammy - Sign up{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <!--Define name as attribute is the name  -->
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <!--Define name as attribute is the name  -->
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <!--Define name as attribute is the name  -->
    <input
      type="password"
      class="form-control"
      id="tb_password"
      name="password1"
      placeholder="Enter Password"
    />
    <label id="lbl_pwdchecker"></label>
  </div>
  <div class="form-group">
    <label for="password1">Password (Confirm)</label>
    <!--Define name as attribute is the name  -->
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm Password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
          </div>
        </div>

          <div>
              <p class="mb-0">Are you a staff? <a href="/stafflogin" class="text-white-50 fw-bold">Log in as staff</a>
              </p>
            </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} -->