
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-auto">

  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on our social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/profile.php?id=100084438817499" class="me-4 text-reset">
        <i class="fab fa-facebook-f"><img src="static/img/fb.jpg" width="30px" height="30px"> </i>
      </a>
      <a href="mailto:smartlearn@gmail.com" class="me-4 text-reset">
        <i class="fab fa-google"><img src="static/img/gmail.jpg" width="30px" height="30px"> </i>
      </a>
      <a href="https://www.instagram.com/smartlearn/" class="me-4 text-reset">
        <i class="fab fa-instagram"><img src="static/img/insta.jpg" width="30px" height="30px"> </i>
      </a>
      <a href="https://github.com/Joon0208/Yammy" class="me-4 text-reset">
        <i class="fab fa-github"><img src="static/img/gh.jpg" width="30px" height="30px"> </i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>SmartLearn </h6>
          <p> Revolutionizing education with video intelligence analytics</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-6">
            Useful links
          </h6>
          <p>
            <a href="/" class="text-reset">Home</a>
          </p>
          <p>
            <a href="/signup" class="text-reset">Sign Up</a>
          </p>
          <p>
            <a href="/login" class="text-reset">Log In</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <br>
          <p>
            <a href="/aboutUs" class="text-reset">About Us</a>
          </p>
          <p>
            <a href="/faq" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">--</a>
          </p>
          <p>
            <a href="#!" class="text-reset">--</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> 180 Ang Mo Kio Ave 8, Singapore 569830</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:smartlearn@gmail.com"> smartlearn@gmail.com</a>
          </p>
          <p><i class="fas fa-phone me-3"></i> + 65 8100 5201</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgb(210, 210, 210);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/">www.smartlearn.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
