
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg py-3 bg-light shadow-sm">
  <div class="container">
    <a href="/staff_homepage" class="navbar-brand">
      <!-- Logo Image -->
      <img src="/static/img/logo1.jpg" class="rounded-circle" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">SmartLearn</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/staff_homepage" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="/exam_result" class="nav-link">Exam Result</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a></li>


      </ul>
    </div>
  </div>
</nav>

